<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <div id="recipes">
        <!-- Recipe 1 -->
        <div class="recipe">
            <h2><a href="/recipe/1">Recipe 1</a></h2>
            <ul>
                <li>tomato: 3pcs</li>
                <li>onion: 1pc</li>
                <li>pork: 1kg</li>
                <li>water: 1L</li>
                <li>sinigang mix: 1 packet</li>
            </ul>
        </div>
        <!-- Recipe 2 -->
        <div class="recipe">
            <h2><a href="/recipe/2">Recipe 2</a></h2>
            <ul>
                <li>garlic: 1 head</li>
                <li>onion: 1pc</li>
                <li>vinegar: 1/2cup</li>
                <li>water: 1 cup</li>
                <li>salt: 1 tablespoon</li>
                <li>whole black peppers: 1 tablespoon</li>
                <li>pork: 1 kilo</li>
            </ul>
        </div>
    </div>
</body>
</html>